body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-selection {
  color: white;
  background: #f36c25;
}

::selection {
  color: white;
  background: #f36c25;
}

section {
  height: 100vh;
}

nav {
  height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
}

.container {
  padding: 2% 5%;
}

.logo {
  float: left;
}

.toggle {
  display: none;
}

nav ul {
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #f36c25;
  transition: 0.7s fade-in-out;
}

/* nav ul li a:hover, nav ul li a.active {} */

.container3 {
  padding-left: 5px;
}
.intro {
  height: 80vh;
  display: flex;
}

.container1 {
  padding: 5% 5%;
}

.intro-logo2 {
  position: absolute;
  top: 30vh;
  right: 18vh;
}

.envision {
  font-size: 14.9rem;
  letter-spacing: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.organizer_cards{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
}
.organizer_cards .card{
  margin-inline:30px;
}

.quote {
  color: #f6862c;
  font-size: 4.77vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5% 0%;
}

.organizerheading {
  font-size: 36px;
  color: #f6862c;
  padding: 7% 0%;
}

.unknown {
  color: black;
}

.team {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 10rem;
  letter-spacing: 5px;
}

.bg-envision {
  position: absolute;
  left: 15vh;
  top: 25vh;
  font-family: "Montserrat", sans-serif;
  font-size: 30vh;
  line-height: 270px;
  letter-spacing: 0.085em;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
  opacity: 0.3;
}

.intro-logo {
  position: absolute;
  right: 7vh;
}

.arrow {
  position: absolute;
  top: 75vh;
  left: 10vh;
}

.teamleads {
  max-width: 1450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 70px;
}

.container_2 {
  min-height: 100vh;
}

.teammembers {
  background-image: url(../images/bg-teams.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.teamheads {
  background-image: url(../images/teamheads.png);
  background-repeat: no-repeat;
  background-size: 78%;
  background-position: center;
  padding: 63px 0px;
  width: 100%;
}

.bg-org {
  width: 100%;
  background-image: url(../images/bg-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
}

.card {
  background-color: #fff;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.226);
  margin-top: 100px;
}

.card h2,
.card h3 {
  margin: 0px;
}

.dp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dp img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: -90px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.heading h2 {
  font-weight: 300;
  font-size: 27px;
}

.sub_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.sub_heading h3 {
  color: rgba(0, 0, 0, 0.562);
  font-weight: 300;
  font-size: 21px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  font-size: 21px;
}

.icons i {
  color: rgba(0, 0, 0, 0.575);
}

.icons i:hover {
  color: #f36c25;
  transition-duration: 0.4s;
  cursor: pointer;
}

.card1 {
  background-color: #fff;
  width: 240px;
  height: 140px;
  border-radius: 16px;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.226);
  margin-top: 100px;
  margin-bottom: 40px;
}

.card1 h2,
.card1 h3 {
  margin: 0px;
}

.dp1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dp1 img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: -60px;
}

.heading1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.heading1 h2 {
  font-weight: 300;
  font-size: 20px;
}

.sub_heading1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.sub_heading1 h3 {
  color: rgba(0, 0, 0, 0.562);
  font-weight: 300;
  font-size: 16px;
}

.icons1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 40px;
  font-size: 16px;
}

.icons1 i {
  color: rgba(0, 0, 0, 0.575);
}

.icons1 i:hover {
  color: #f36c25;
  transition-duration: 0.4s;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em 1em;
  background: white;
  padding: 2em 1em;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.divyanshu {
  overflow: hidden;
  background-color: #fff !important;
}

.envision_logo1 {
  height: 100px;
  width: 200px;
  background: white;
}

.envision_logo1 img {
  height: 2em;
  width: 5em;
  object-fit: contain;
  background: white;
}

.footer_heading {
  font-size: 18px;
  font-weight: 500;
}

.quick_links,
.quick_links a {
  text-decoration: none;
  color: #000;
}

.quick_links li {
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em;

  font-size: 14px;
  font-weight: 400;
}

.footer_details {
  display: flex;
  max-width: 23em;
  align-items: center;
  margin: 1.5em 0;
}

.footer_details span {
  margin: 0 0.7em;
}

.footer_details span > img {
  height: 1.5em;
  width: 1.5em;
}

.developed_by {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.developed_by p {
  margin: 1em 0;
}

.socials {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 1em 0;
  text-align: center;
}

.socials > a {
  margin: 0 0.7em;
}

.footer_col {
  background-color: white;
}

.toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer_col {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }

  .footer_details {
    flex-direction: column;
    justify-content: center;
    margin: 0.5em auto;
  }
  .quick_links {
    padding-right: 40px;
  }
  .footer_details span {
    margin: 0.5em 0;
  }
}
@media screen and (max-width: 768px) {
  .container,
  .container3 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 65vh;
  }

  .container {
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .intro-logo,
  .intro-logo2 {
    height: 40%;
    top: 20%;
    right: 2%;
    left: 7%;
  }

  .team,
  .envision {
    font-size: 7vh;
    margin-left: 3vh;
  }
  .team {
    line-height: 2em;
    margin-right: 4vh;
  }
  .envision {
    line-height: 2em;
  }

  .bg-envision {
    font-size: 7vh;
    margin-top: 35vh;
    line-height: 10vh;
  }

  .quote {
    font-size: 3vh;
  }
  .container1 {
    margin-top: 45vh;
    align-items: center;
    padding-left: 9vh;
  }

  .toggle {
    display: block;
    float: right;
  }

  nav {
    display: none;
  }
}

/* @media screen and (max-width:768px) {
  .team {}
} */
